{% load static from staticfiles %}
{% block header %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="老哥的blog">
    <meta name="author" content="老哥">
    <link rel="icon" href="{% static "iblog/favicon.ico" %}">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
    <title>iblog</title>
  </head>
{% endblock %}

{% block header_bar %}
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/blog/index" class="navbar-brand">lblog{{ title }}</a>
            </div>
            <div class="collapse navbar-collapse" id="mymenu">
                <ul class="nav navbar-nav">
                <li class="active"><a href="/blog/index">首页</a></li>
                <li class="active"><a href="/blog/about" >关于</a></li>

            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/user/login">登陆</a></li>
                    <li class="active"><a href="/user/register" >注册</a></li>
                    <!--搜索栏-->
                    <form class="navbar-form navbar-right" role="search" action="top_search" method="get">
                    <div class="form-group">
                    <input type="search" class="form-control" placeholder="搜索" >
                    </div>
                    <input type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                    </input>
                    </form>
                    <!--搜索栏-->
                </ul>

            </div>

        </div>
    </div>

{% endblock %}

{% block container %}

{% endblock %}

{% block footer %}
  </body>

</html>
{% endblock %}